.comparison-container {
    position: relative;
    overflow: hidden;
    user-select: none;
    border: 1px solid black;
}

.comparison-image-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.comparison-image {
    position: absolute;
    object-fit: contain;
}

.comparison-image-edited {
    position: absolute;
}

.comparison-slider {
    position: absolute;
    top: 0;
    width: 4px;
    height: 100%;
    background: whitesmoke;
    cursor: ew-resize;
    transform: translateX(-50%);
}
